<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        cacheResult="false">
    <testsuite name="all">
        <directory suffix=".php">tests/Cache</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Cache</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="code-coverage"/>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
</phpunit>
